
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --amarelo-limao: #2A3740;
    --amarelo-ouro: #ffa600;
    --laranja: #400101;
    --marrom-alaranjado: #D95A11;
    --vermelho: #D90404;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--amarelo-limao);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    color: var(--amarelo-ouro);
    font-size: 3rem;
    
}

.card{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background: var(--marrom-alaranjado);
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card:hover{
    height: 400px;

}

.card .img-box{
    position: absolute;
    width: 250px;
    height: auto;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.card:hover .img-box{
    top: -100px;
    transform: translateX(-50%) scale(0.75);
}

.card .img-box img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.card .content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .content{
    top: 130px;
    height: 250px;
}

.card .content h2{
    color: var(--laranja);
    font-size: 1.5rem;
}

.card .content p{
    color: var(--amarelo-ouro);
    font-size: 1rem;
}

.card .content a{
    color: var(--amarelo-ouro);
    font-size: 1rem;
    text-decoration: none;
    background: var(--laranja);
    padding: 10px 20px;
    border-radius: 20px;
    width: max-content;
    margin: auto;
}